/.git
/.pytest_cache
/omaha_places_app/__pycache__
/omaha_places_app/migrations/__pycache__
/omaha_places_app/templatetags/__pycache__
/omaha_places_app/cache
/omaha_places_app/cache/.DS_Store
/omaha_places_app/.DS_Store
/omaha_places_app/test_cases/__pycache__
/djangoproject/__pycache__
/env_webproject
.DS_Store
localsetup.sh
wget-log
index.html?product=firefox-latest
geckodriver-v0.33.0-linux64.tar.gz
