{% load static %}

<!--Base HTML-->
<!doctype html>
<html lang="en">

<!--Bootstrap CSS-->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="icon" type="image/x-icon" href="{% static 'omaha_places_app/logo.png' %}">
</head>


<body>
  <!--Navbar-->
  {% include 'omaha_places_app/navbar.html' %}

  <!-- Flash Messages if Any -->
  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <!--Content-->
  {% block content %}
  {% endblock %}

  <!--Footer-->
  {% block footer %}
    <br/>
    <hr class="divider">
    <center><footer>
      <p>© 2025 Omaha Locations. All rights reserved.</p>
    </footer></center>
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>


<!--CSS-->
{% block script %}
<style>
/* General reset to avoid overflow */
    * {
        box-sizing: border-box;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

/* Navbar Style */
    .logo-float {
      display: flex;
      align-items: center;
  }
  
  .logo-float img {
      height: 60px; /* make it larger */
  }

/* Divider Style */
    hr.divider {
        border: 0;
        border-top: 1px solid black !important;
    }
</style>
{% endblock %}