{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
    
        <!-- Event Logo: When clicked, go to home page. -->
        <a class="navbar-brand logo-float" href="{% url 'home' %}" style="padding-top: 5px; padding-bottom: 5px;">
            <img src="{% static 'omaha_places_app/logo.png' %}" alt="Logo" style="height: 60px; margin-top: -15px; margin-bottom: -15px; object-fit: contain;">
        </a>        
  
        <!-- Navbar Toggle for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Left-aligned navigation links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}" style="padding-top: 5px; padding-bottom: 5px; color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_restaurants' %}" style="padding-top: 5px; padding-bottom: 5px; color: white;">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_places' %}" style="padding-top: 5px; padding-bottom: 5px; color: white;">Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}" style="padding-top: 5px; padding-bottom: 5px; color: white;">About Us</a>
                </li>
            </ul>

    <!-- Right-aligned: Login/Logout and Search -->
        <ul class="navbar-nav ms-auto mb-0">
            {% if request.user.is_authenticated %}
                <li class="nav-item d-flex align-items-center">
                    <span class="nav-link text-white me-2" style="padding-top: 5px; padding-bottom: 5px;">
                        Logged in as: {{ user.username }}
                    </span>
                    <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}" style="padding-top: 5px; padding-bottom: 5px; color:rgb(255, 0, 0);">
                        Logout&nbsp;
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white me-2" href="{% url 'login' %}" style="padding-top: 5px; padding-bottom: 5px; color:rgb(255, 0, 0);">
                        Login
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <form class="d-flex" method="GET" action="">
                    <input class="form-control form-control-sm me-2" type="search" name="q" placeholder="..." aria-label="Search">
                    <button class="btn btn-outline-info btn-sm" type="submit" style="border-color: #17a2b8; color: #17a2b8;">Search</button>
                </form>
            </li>
        </ul>
    </div>
</nav>


{% block script%}
<style>
/* Navbar logo */
    .navbar-brand img {
        height: 60px;
        margin-top: -15px;
        z-index: 10; /* optional, for safety */
        position: relative;
        filter: drop-shadow(0 0 0 black) drop-shadow(2px 2px 0 black) drop-shadow(-1px -1px 0 black);
    }

</style>
{% endblock %}